<style>
  body,
  html {
    height: 100%;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/image/login_background.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text>img {
    min-height: 120px;
    min-width: 120px;
  }

  .movie-list {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }

  .movie-card-img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
  }

  .my-movie-card {
    max-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }

  .movie-name {
    font-size: 23px;
    text: center;
  }
</style>

<form class="float-right px-3 pl-2 mx-4" method="get" action="/movies/search" style="width: 30%;">
  <div class="input-group mb-3">
    <input type="text" class="form-control text-white" style="background-color: #333333;border: none;" placeholder="Search" aria-label="search" aria-describedby="button-addon2" name="q">
    <div class="input-group-append">
      <button class="btn btn-red text-white" type="submit" id="button-addon2">검색</button>
    </div>
  </div>
</form>


<div class="movie-list mt-5">
  <h3 class="text-white mt-5 mb-2 font-weight-bold">Comedy</h3>
  <div class="owl-carousel owl-theme">
    <% Movie.where(movie_type: "코미디").each do |movie| %>
    <%= link_to movie_path(movie) do %>
    <div class="card movie-card-img" style="width: 21rem; height:400px; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= movie.image_url %>');">
      <div class="card-body justify-content-center" style="margin-top: 130px;">
        <div class="movie-name font-weight-bolder text-center text-white"><%= movie.movie_name %></div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <h3 class="text-white mt-5 mb-2 font-weight-bold">Drama</h3>
  <div class="owl-carousel owl-theme">
    <% Movie.where(movie_type: "드라마").each do |movie| %>
    <%= link_to movie_path(movie) do %>
    <div class="card movie-card-img" style="width: 21rem; height:400px; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= movie.image_url %>');">
      <div class="card-body justify-content-center" style="margin-top: 130px;">
        <div class="movie-name font-weight-bolder text-center text-white"><%= movie.movie_name %></div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <h3 class="text-white mt-5 mb-2 font-weight-bold">Foreign</h3>
  <div class="owl-carousel owl-theme">
    <% Movie.where(movie_type: "해외드라마").each do |movie| %>
    <%= link_to movie_path(movie) do %>
    <div class="card movie-card-img" style="width: 21rem; height:400px; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= movie.image_url %>');">
      <div class="card-body justify-content-center" style="margin-top: 130px;">
        <div class="movie-name font-weight-bolder text-center text-white"><%= movie.movie_name %></div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <h3 class="text-white mt-5 mb-2 font-weight-bold">Action</h3>
  <div class="owl-carousel owl-theme">
    <% Movie.where(movie_type: "액션").each do |movie| %>
    <%= link_to movie_path(movie) do %>
    <div class="card movie-card-img" style="width: 21rem; height:400px; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= movie.image_url %>');">
      <div class="card-body justify-content-center" style="margin-top: 130px;">
        <div class="movie-name font-weight-bolder text-center text-white"><%= movie.movie_name %></div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 5,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 5
        }
      }
    });
  });
</script>