<div class="container mt-5 text-white">
  <img src="<%= @data.image_url %>" class="img-fluid width-100" alt="Responsive image" style="width: 100% !important; max-height: 500px;">
  <div class="row my-4">
    <div class="col-8">
      <div class="mb-4">
        <%= link_to toggle_like_movie_path(@data.id), method: :PUT do %>
        <button class="btn btn-red btn-block text-white" style="width: 20%;">
          <i class="fas fa-heart mr-2"></i>
          <%= !@user_movie_queue.empty? ? "DisLike" : "Like"%>
        </button>
        <% end %>
      </div>

      <h4><%= @movie['movie_name'] %></h4>
      <div class="mb-3" style="color: #55ff00"><%= render "shared/rating", origin_score: @movie['rating'] %></div>
      <div class="mt-3"><%= @movie['movie_description'] %></div>
    </div>
    <div class="col-4">
      <h6 class="mb-3">Actors</h6>
      <div class="row">
        <div class="text-red ml-3 mr-2">Starring</div>
        <div>
          <% if ! @actors_of_movie.empty? %>
          <% @actors_of_movie.each do |actor| %>
          <% if actor['actor_role'] == '주연'%>
          <span><%= actor['actor_name'] %></span>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="text-red ml-3 mr-2">Support</div>
        <div>
          <% if !@actors_of_movie.empty? %>
          <% @actors_of_movie.each do |actor| %>
          <% if actor['actor_role'] == '조연'%>
          <span><%= actor['actor_name'] %></span>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>