<style>
  .font-nav {
    color: red !important;
    font-weight: bold;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light pl-4 py-3" style="background-color: #090707 !important;">
  <a href="/"><img src="/image/sangflix.png" class="mr-2" style="width: 100px; height: 30px;" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active mr-3">
        <a class="nav-link font-nav" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <% if current_user %>
      <li class="nav-item mr-3">
        <%= link_to "MovieList", movies_path, class: "nav-link font-nav" %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to "OrderList", orders_path, class: "nav-link font-nav" %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to "MyPage", mypage_path, class: "nav-link font-nav" %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to "logout", destroy_user_session_path, method: :delete,id:"logout_btn" ,class: "nav-link font-nav",data: { confirm: 'Are you sure​?' } %>
      </li>
      <% else %>
      <li class="nav-item mr-3">
        <%= link_to "sign in", new_user_session_path, class: "nav-link font-nav" %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to "sign up", new_user_registration_path, class: "nav-link font-nav" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>

<script>

</script>