<style>
  body,
  html {
    height: 100%;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/image/login_background.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text>img {
    min-height: 120px;
    min-width: 120px;
  }

  .movie-list {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }

  .movie-card-img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
  }

  .my-movie-card {
    max-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }

  .movie-name {
    font-size: 23px;
    text: center;
  }
</style>

<div class="hero-image">
  <div class="hero-text">
    <img src="/image/sangflix.png" alt="">
    <h3 class="mt-3 ml-4">Find the video that's right for you</h3>
    <h6 class="mt-3 ml-4">Check videos by genre and popularity, and then rent them!</h6>
  </div>
</div>


<div class="movie-list my-5">
  <h3 class="text-white mt-5 mb-2 font-weight-bold">My Movie Queue</h3>
  <% if current_user %>
  <div class="owl-carousel owl-theme">
    <% unless @current_user_movie_queues.empty? %>
      <% @current_user_movie_queues.each do |movie_queue| %>
      <% movie = Movie.find_by(id: movie_queue.movie_id) %>
      <%= link_to movie_path(movie) do %>
      <div class="my-movie-card card" style="width: 21rem; height:500px !important; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= movie.image_url %>');">
        <div class="card-body justify-content-center" style="margin-top: 130px;">
          <div class="row justify-content-center px-4" style="margin-top:200px;">
            <h2 class="col-12 my-4 text-white text-center"><%= movie.movie_name %></h2>
            <div class="col-12 justify-content-end">
              <% if current_user.orders.rented.where(movie_id: movie.id).present? %>
                <%= link_to update_status_orders_path(movie_id: movie.id, return_status: :returned), method: :put, style: "", class: "btn btn-red btn-block text-white" do %>
                  <i class="fas fa-check mr-2"></i>Return
                <% end %>
              <% else %>
                <%= link_to orders_path(movie_id: movie.id), method: :post, class: "btn btn-red btn-block text-white" do %>
                  <i class="fas fa-plus mr-2"></i>Rent
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    <% else %>
      <div class="text-gray" style="font-size:20px;margin: 20px 0px 20px 0px; width:100%;">
        If you want to rent a video,<br/> add the movie to your movie queue!
      </div>
    <% end %>
  </div>
  <%end%>

  <h3 class="text-white mt-5 mb-2 font-weight-bold">Best-Seller</h3>
  <div class="owl-carousel owl-theme">
    <% Movie.select('*').from('movies').order(number_of_copies: :desc).limit(5).each do |movie| %>
    <%= link_to movie_path(movie) do %>
    <div class="card movie-card-img" style="width: 21rem; height:400px; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= movie.image_url %>');">
      <div class="card-body justify-content-center" style="margin-top: 130px;">
        <div class="movie-name font-weight-bolder text-center text-white"><%= movie.movie_name %></div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <h3 class="text-white mt-5 mb-2 font-weight-bold">Personal Recommend</h3>
  <div class="owl-carousel owl-theme">
    <% (@recommend_movies.presence || Movie.all.sample(5)).each do |movie| %>
    <%= link_to movie_path(id: movie['id']) do %>
    <div class="card movie-card-img" style="width: 21rem; height:400px; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/uploads/movie/image/<%=movie['id']%>/<%= movie['image'] %>');">
      <div class="card-body justify-content-center" style="margin-top: 130px;">
        <div class="movie-name font-weight-bolder text-center text-white"><%= movie['movie_name'] %></div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <br/><br/>
</div>

<script>
  $(function() {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 5
        }
      }
    });
  });
</script>