<style>
  body {
    background-image: url("/image/login_background.png");
    background-size: cover;
  }
  input[type="text"], input[type="email"], input[type="number"], input[type="password"], textarea {
    background-color: #333333;
    border: none;
    height: 50px;
  }
  .form-group {
    margin-bottom: 23px !important; 
  }
  hr {
    border-color: white;
    opacity: 0.5;
  }
  .btn {
    height: 50px;
  }
  .card {
    background-color: rgba(0, 0, 0, 0.7); 
    border:2px solid warning; 
    font-size:12px; 
    margin: auto; 
    margin-top: 130px;
  }
</style>


<div class="container">
  <div class="row justify-content-center align-self-center text-white">
    <div class="card col-md-5 offset-md-3 p-5">
      <div class="panel-body">
        <div class="mar-ver pad-btm">
          <h3 class="mb-5">로그인</h3>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: false, class: "form-control", placeholder: "이메일" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, class: "form-control", placeholder: "비밀번호" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "ml-1" %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "로그인", class: 'btn btn-red btn-block text-white' %>
        </div>
        <hr>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>